{% load thumbnail %}
<div class="mt-3">
    {% if education.image %}
        {% thumbnail education.image "120x170" crop="center" as im %}
            <div class="d-flex align-items-center">
                <a href="{{ education.image.url }}">
                    <img class="img-thumbnail" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                </a>
                <div class="ms-3">
                    <h3 class="text-start mb-0">{{ education.title }}</h3>
                    <h6 class="text-start mb-0 text-body-secondary mt-1">Avg.Grade: {{ education.grade }} / 100</h6>
                </div>
            </div>
        {% endthumbnail %}
    {% else %}
        <div class="ms-3">
            <h3 class="text-start mb-0 text-body-secondary ms-1">{{ education.title }}</h3>
            <h6 class="text-start mb-0 text-body-secondary">Avg.Grade: {{ education.grade }} / 100</h6>
        </div>
    {% endif %}
    {% if education.institution_url %}
        <div class="d-flex align-items-center mt-2">
            <a class="h5 ms-1 mb-0 text-start cv_title"
               href="{{ education.institution_url }}">{{ education.institution }}</a>
        </div>
    {% else %}
        <h5 class="text-start cv_title mb-0 mt-2">{{ education.institution }}</h5>
    {% endif %}
    <div class="d-flex align-items-center mt-3">
        {% include 'landing/icons/calendar.html' with icon_color='#212529bf' %}
        <p class="text-start text-body-secondary mb-0 ms-2 h6">{{ education.started|date:"F Y" }}
            — {% if education.ended %}
                {{ education.ended|date:"F Y" }}
            {% else %}
                Present
            {% endif %}
        </p>
    </div>
</div>